:root {
    --mainGreen: #063D37;
    --mainRed: #800001;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d9b382;
}

.calc-pic {
    position: relative;
    top: 5vh;
    left: 80%;
    transform: translate(-50%);
    
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    background-color: var(--mainGreen);
    color: white;
    font-size: 25px;
}

.calc-child1 {
    position: fixed;
    left: 235px;
    top: 390px; 
}

.calc-child2 {
    position: fixed;
    left: 292px;
    top: 390px; 
}

.calc-child3 {
    position: fixed;
    left: 350px;
    top: 390px; 
}

.calc-child4 {
    position: fixed;
    left: 235px;
    top: 335px; 
}

.calc-child5 {
    position: fixed;
    left: 292px;
    top: 335px; 
}

.calc-child6 {
    position: fixed;
    left: 350px;
    top: 335px; 
}

.calc-child7 {
    position: fixed;
    left: 235px;
    top: 280px; 
}

.calc-child8 {
    position: fixed;
    left: 292px;
    top: 280px; 
}

.calc-child9 {
    position: fixed;
    left: 350px;
    top: 280px; 
}

.calc-child0 {
    position: fixed;
    left: 245px;
    top: 455px; 
    background-color: var(--mainRed);
}

.calc-childDot {
    position: fixed;
    background-color: var(--mainRed);
    top: 443px;
    left: 317px;
    font-size: 45px;
}

.calc-childEnter {
    position: fixed;
    background-color: var(--mainRed);
    font-size: 14px;
    top: 455px;
    left: 383px;
}

.calc-childPlus {
    background-color: var(--mainRed);
    min-width: 5px;
    min-height: 5px;
    position: fixed;
    top: 285px;
    left: 408px;
    border-radius: 10px;
}

.calc-childMinus {
    background-color: var(--mainRed);
    min-width: 5px;
    min-height: 5px;
    position: fixed;
    top: 322px;
    left: 412px;
    border-radius: 10px;
}

.calc-childMultiply {
    background-color: var(--mainRed);
    min-width: 5px;
    min-height: 3px;
    position: fixed;
    top: 364px;
    left: 412px;
    border-radius: 10px;
}

.calc-childDivide {
    background-color: var(--mainRed);
    min-width: 2px;
    min-height: 2px;
    position: fixed;
    top: 405px;
    left: 409px;
    border-radius: 10px;
    font-size: 20px;
}
