:root {
    --mainGreen : #063D37;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d9b382;
}

.calc-pic {
    position: relative;
    top: 5vh;
    left: 70%;
    transform: translate(-50%);
    
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    background-color: var(--mainGreen);
    color: white;
    font-size: 25px;
}

.calc-child1 {
    position: fixed;
    left: 235px;
    top: 390px; 
}

.calc-child2 {
    position: fixed;
    left: 292px;
    top: 390px; 
}

.calc-child3 {
    position: fixed;
    left: 350px;
    top: 390px; 
}