.parent {
    background-color: aqua;
    position: relative;
    min-height: 200px;
    
}

.child-one {
    background-color: blueviolet;
    position: absolute; 
    min-width: 30px;
    top: 40px;

}

.child-two {
    background-color: crimson;
    position: absolute;
    min-width: 30px;
    top: 40px;
    left: 60px;
}

.child-three {
    background-color: darkgreen;
    position: absolute;
    min-width: 30px;
    top: 40px;
    left: 140px;
}