body {
    margin: 0;
    padding: 0;
    
}

.header {
    min-height: 160px;
    background-color: black;
    widows: 100%;
    position: relative;
}

.header-outline {
   
    min-height: 130px;
    width: 90%;
    position: relative;
    border: 2px solid white;
    border-radius: 18px;
    margin-left: 10px;
    margin-bottom: 10px;

}