body {
    margin: 0;
    padding: 0;
    
}

.header {
    min-height: 160px;
    background-color: black;
    widows: 100%;
    
}

.header-outline {
   
    min-height: 130px;
    width: 97%;
    position: absolute;
    border: 2px solid white;
    border-radius: 18px;
    top: 10px;
    left: 1vw;
    
    

}